* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
  font-family: "Montserrat", "Fraunces", serif, sans-serif;
  background-color: hsl(30, 38%, 92%);
}

.main {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}

.card {
  display: flex;
  width: 600px;
  background-color: #fff;
  border-radius: 7px;
  margin: 0 1em;
  overflow: hidden;

  .image-container {
    width: 50%;
    background-size: cover;
    background-image: url(../img/desktop.jpg);
  }

  .card__body {
    padding: 1.5em;
    width: 50%;

    &-text {
      color: hsl(228, 12%, 48%);
      padding-bottom: 0.5em;
      font-size: 0.9rem;
      line-height: 1.5rem;

      .upper-text {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 1rem;
      }
    }
    &-title {
      font-family: "Fraunces", serif;
      font-size: 1.8rem;
    }

    &-text:last-of-type {
      padding-top: 1em;
      padding-bottom: 1.5em;
    }

    .card-prices {
      display: flex;
      align-items: center;

      .price-left {
        color: hsl(158, 36%, 37%);
        font-size: 2rem;
        font-family: "Fraunces", serif;
      }
      .price-right {
        color: hsl(228, 12%, 48%);
        text-decoration: line-through;
        margin-left: 1.5em;
        font-size: 0.9rem;
      }
    }

    .card__btn {
      text-align: center;
      border-radius: 5px;
      margin-top: 1.5em;
      color: #fff;
      background-color: hsl(158, 36%, 37%);
      cursor: pointer;
      padding: 1em;
      transition: 0.3s;

      .fa-solid {
        margin-right: 0.5em;
      }
    }

    .card__btn--highlight:hover {
      background-color: hsl(166, 42%, 14%);
    }
  }
}

@media (max-width: 375px) {
  .card {
    flex-direction: column;
    height: 700px;

    .image-container {
      background-position: center;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-image: url(../img/mobile.jpg);
    }

    .card__body {
      width: 100%;
    }
  }
}

@media (min-width: 376px) {
  .card {
    min-height: 400px;

    
  }
}
