* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
  font-family: "Montserrat", "Fraunces", serif, sans-serif;
  background-color: hsl(30, 38%, 92%);
}

.main {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
}

.card {
  display: flex;
  max-width: 800px;
  background-color: #fff;
  border-radius: 7px;
  margin: 0 1em;
  overflow: hidden;

  &__image {
    width: 100%;
    object-fit: cover;
  }

  .card__body {
    padding: 1.5em;

    &-text {
      color: hsl(228, 12%, 48%);
      padding-bottom: 0.5em;
      .upper-text {
        text-transform: uppercase;
      }
    }
    &-title {
        font-family: "Fraunces", serif;
    }

    &-text:last-of-type {
        padding-top: 1em;
        padding-bottom: 1.5em;
    }
  }
}

@media (max-width: 375px) {
  .card {
    flex-direction: column;

    &__image {
      width: 100%;
    }
  }
}
